.typeahead {
  width: 300px;
  position: relative;
}

.typeaheadInput {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 3px !important;
}

.typeaheadResults {
  list-style: none;
  position: relative;
  width: 95%;
  margin: -15px auto 0 auto;
  padding: 15px 0px 3px 0px;
}

.typeaheadResult {
  padding: 3px 15px;
}

.typeaheadResultFocused {
  background-color: #2196F3;
  color: #FFF;
}

.hidden {
  display: none;
}

